config BOARD_SUPERMICRO_X11SCH_F
	bool "X11SCH-F"
	select BOARD_SUPERMICRO_BASEBOARD_X11_LGA1151V2_SERIES

config BOARD_SUPERMICRO_X11SCL_IF
	bool "X11SCL-IF"
	select BOARD_SUPERMICRO_BASEBOARD_X11_LGA1151V2_SERIES
